{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Dashboard - Task List
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='dashboard-list.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">Todo Flask</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a><span class="badge">Level {{level}}</span></a></li>
                    <li><a href="/dashboard/create">Create</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/dashboard/create">Create New Task</a></li>
                    <li><a href="/dashboard/list">Todo List</a></li>
                    <li class="active"><a href="/dashboard/complete">List Completed</a></li>
                    <li><a href="/dashboard/hiscore">Hiscore</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2>Completed Tasks</h2>

                {% for task in tasks %}
                    <div class="header-title">
                        <a href="/dashboard/list?delete=1&id={{task.id}}" class="pull-right btn btn-danger btn-small">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <h4>{{task.title}} <span class="small-text">Priority: {{task.priority}}</span></h4>
                        <p>{{task.description}}</p>
                        <p>Deadline: {{task.deadline}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}